
header {
    box-shadow: 0 -5vh 0 7vh darkorange;
    background-color: darkorange;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
    margin-bottom: 0;
    padding-bottom: 0;
}

nav {
    box-shadow: 0 -0.5vh 0 1.1vh orange;
    background-color: orange;
    
}

nav a {
    text-decoration: none;
    color: #242841;
    font-family: Arial;
    font-size: 20px;
}

nav a:visited {
    color: #242841;
}

nav a:hover {
    color: white;
}

#login-container {
    float: right;
}

#login-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial;
}

#footer-buffer {
    height: 500px;
}

footer {
    box-shadow: 0 50vh 0 50vh #242841;
    background-color: #242841;
    color: aquamarine;
    font-family: Arial;
}

footer a {
    color: cornflowerblue;
}

footer a:visited {
    color: cornflowerblue;
}

.simple-text {
    width: 725px;
    font-family: Arial;
}

.fake-header {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.little-br {
    height: 5px;
}

.stat-text {
    font-family: Arial;
    text-align: center;
    vertical-align: top;
}

.stat-table {
    margin-left: auto;
    margin-right: auto;
}

.stat-table tbody {
    vertical-align: top;
}

.season-table {
    border: 1px solid black;
}

.season-table td {
    border: 1px solid black;
}

.season-arrow {
    position: relative;
    width: 100px;
}

.season-arrow button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10px;
}

.season-key {
    text-align: left;
}

.season-color-1 {
    background-color: antiquewhite;
    color: black;
}

.season-color-2 {
    background-color: coral;
    color: black;
}

.compare-line {
  border-left: 2px solid black;
  height: 500px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  margin-right: 300px;
  top: 0;
}